.responsive-split-layout {
  --split-layout-spacing: 1.5rem;
  --split-layout-content-spacing: 0.5rem;

  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-block-end: var(--split-layout-spacing);

  @media (min-width: 48rem) {
    flex-direction: row;
    gap: 2rem;
    --split-layout-spacing: 2rem;
    margin-block-start: var(--split-layout-spacing);
    margin-block-end: calc(var(--split-layout-spacing) * 2);
  }

  @media (min-width: 80rem) {
    gap: 3rem;
    --split-layout-spacing: 4rem;
    --split-layout-content-spacing: 1.0rem;
  }

  @media (min-width: 105rem) {
    gap: 12.625rem;
    --split-layout-spacing: 5rem;
  }

  & .responsive-split-layout__image,
  & .responsive-split-layout__content {
    flex: 1;
  }

  & .responsive-split-layout__image--reverse {
    @media (min-width: 48rem) {
      order: 2;
    }
  }

  & .responsive-split-layout__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--split-layout-content-spacing);
  }

  & .responsive-split-layout__content--reverse {
    @media (min-width: 48rem) {
      order: 1;
    }
  }

  & p {
    margin-block: 0;
  }

  /* Last sibling with class */
  &:not(:has(+ .responsive-split-layout)) {
    margin-block-end: var(--spacing-global-block-end-small-screen);

    @media (min-width: 48rem) {
      margin-block-end: var(--split-layout-spacing);
    }
  }
}
