.quote blockquote {
  --color-text: var(--spectrum-gray-700);
  --color-border: var(--spectrum-gray-400);
  position: relative;
  margin: var(--spectrum-spacing-800) auto;
  padding-block: 4.5rem;
  font-family: var(--spectrum-serif-font-family);
  line-height: 1.4;
  letter-spacing: 0;
  color: var(--color-text);
  border-block: 1px solid var(--color-border);
}

.quote__quotation {
  font-size: 1.25rem;
  margin: 0;

  @media (min-width: 48rem) {
    font-size: 1.75rem;
  }

  @media (min-width: 80rem) {
    font-size: 2rem;
  }

  @media (min-width: 105rem) {
    font-size: 2.25rem;
  }
}

.quote__attribution {
  margin-block-start: 0.5rem;

  & a {
    font-style: normal;
  }
}
