.horizontal-row-container {
  overflow-x: hidden;
}

.horizontal-row {
  position: relative;
  inset-inline: -50vw;
  width: 150vw;
  height: 0;
  border: none;
  border-block-start: 1px solid var(--spectrum-gray-400);
  margin-block: 4rem;

  @media (min-width: 48rem) {
    margin-block: 6.5rem;
  }
}
