footer {
  background-color: var(--spectrum-gray-50);
  font-size: var(--spectrum-body-size-xs);
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

@media (min-width: 48rem) {
  /* !! min-width MQ needs refactor */

  footer .footer > div {
    padding: 2.5rem 2rem 1.5rem;
  }
}
