/* button styles located in global-blocks.css */

.button-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin-block-start: 0;
  margin-block-end: var(--spacing-global-block-end-small-screen);

  @media (min-width: 22.5rem) {
    margin-block-end: var(--spacing-global-block-end-medium-screen);
  }

  @media (min-width: 48rem) {
    margin-block-end: var(--spacing-global-block-end-large-screen);
    flex-direction: row;
    gap: 1.5rem;
    flex-wrap: wrap;
  }
}
