.job-list {
  --color-text: var(--spectrum-gray-900);
  --color-border: var(--spectrum-gray-400);
  margin-block: 2rem;
  display: block;

  @media (min-width: 105rem) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}

.job-list__heading {
  font-size: var(--spectrum-heading-size-s);
  margin-block: 0 0.5rem;
  color: var(--color-text);

  @media (min-width: 48rem) {
    font-size: var(--spectrum-heading-size-m);
    margin-block: 0 1.375rem;
  }

  @media (min-width: 80rem) {
    font-size: var(--spectrum-heading-size-s);
    margin-block: 0 1.5rem;
  }

  @media (min-width: 105rem) {
    margin-block: 0;
    grid-column: 1;
  }
}

.job-list__listings {
  display: block;

  & .job-listing {
    border-top: 1px solid var(--color-border);
  }

  & .job-listing:last-child {
    border-bottom: 1px solid var(--color-border);
  }

  @media (min-width: 48rem) {
    & .job-listing::after {
      display: none;
    }
  }

  @media (min-width: 80rem) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    & .job-listing {
      border: none;
    }

    & .job-listing:last-child {
      border-bottom: none;
    }
  }

  @media (min-width: 105rem) {
    grid-column: 2 / span 2;
  }
}
