/*
 * Copyright 2025 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
*/

/*
* Global Blocks *

  These block styles are shared between multiple block variants.
  Global blocks allow for consistency in styling between blocks and pages.

  To ensure inheritance within this file, global blocks should be named
  with proper BEM syntax and scoped within the block-level class name.

  Where necessary, `:root` selectors are located near their related blocks.
*/

.author-aside {
  margin-block-start: 2rem;
  border-top: 1px solid var(--spectrum-gray-400);
}

.author-bio {
  margin-block-start: 2rem;
  margin-block-end: 0;

  & .author-meta {
    display: flex;
    gap: 1rem;
    margin-block-end: 1rem;

    & .author-meta__image img {
      width: 4rem;
      height: 4rem;
      border-radius: 100%;
    }

    & .author-meta__info {
      align-self: center;
      display: flex;
      flex-direction: column;
      gap: 0.25rem;

      > .author-meta__name {
        margin-block: 0;

        @media (min-width: 48rem) {
          font-size: var(--spectrum-font-size-500);
        }
      }

      & .author-meta__title {
        color: var(--spectrum-gray-600);

        @media (min-width: 48rem) {
          font-size: var(--spectrum-font-size-200);
        }
      }
    }
  }

  .author-description {
    p:first-of-type {
      margin-block-start: 0;
    }

    p:last-of-type {
      margin-block-end: 0;
    }
  }
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-block-start: 0;
  margin-block-end: var(--spacing-global-block-end-small-screen);

  @media (min-width: 22.5rem) {
    margin-block-end: var(--spacing-global-block-end-medium-screen);
    width: 100%;
  }

  @media (min-width: 48rem) {
    margin-block-end: var(--spacing-global-block-end-large-screen);
    flex-direction: row;
    gap: 1.5rem;
    flex-wrap: wrap;
  }

  .button {
    width: 100%;
  }

  @media (min-width: 22.5rem) {
    .button + .button {
      width: unset;
    }
  }

  @media (min-width: 48rem) {
    .button {
      width: unset;
    }
  }
}

.horizontal-rule {
  height: 0;
  border: none;
  border-block-start: 1px solid var(--spectrum-gray-400);
  margin-block: 4rem;

  @media (min-width: 80rem) {
    margin-block: 5rem;
  }

  @media (min-width: 105rem) {
    margin-block: 6.5rem;
  }
}

.horizontal-rule--full {
  width: 100vw;
  margin-inline: calc(-1 * var(--page-gutters));

  @media (min-width: 100rem) {
    margin-inline: calc(-0.5 * calc(100vw - var(--page-max-width)));
  }
}

.listing-cta {
  background: var(--color-background-highlighted-element);
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 1.5rem 1.5rem 0 0;
  padding: 1.5rem 1.25rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  box-shadow: var(--drop-shadow-emphasized);

  @media (min-width: 36rem) {
    padding: 1.5rem 2rem 2rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: 80rem) {
    display: none;
  }

  span {
    color: var(--color-text);

    @media (min-width: 36rem) {
      font-size: var(--spectrum-font-size-700);
    }
  }

  .button {
    @media (min-width: 36rem) {
      width: auto;
    }
  }
}

.listing-container {
  @media (min-width: 80rem) {
    display: grid;
    grid-template-columns: 8fr 1fr 3fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "title title title"
      "content . details";
  }

  > h1 {
    margin-block-start: 2rem;
    margin-block-end: 1rem;

    @media (min-width: 36rem) {
      margin-block-start: 4rem;
      margin-block-end: 2.5rem;
    }

    @media (min-width: 80rem) {
      margin-block-start: 12rem;
      margin-block-end: 10rem;
      grid-area: title;
    }

    @media (min-width: 105rem) {
      margin-block-end: 18rem;
    }
  }

  > .listing-details {
    @media (min-width: 80rem) {
      grid-area: details;
    }
  }

  > .listing-content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-block-start: var(--spacing-heading-block-start-small-screen);

      @media (min-width: 22.5rem) {
        margin-block-start: var(--spacing-heading-block-start-medium-screen);
      }

      @media (min-width: 48rem) {
        margin-block-start: var(--spacing-heading-block-start-large-screen);
      }

      @media (min-width: 80rem) {
        margin-block-start: var(--spacing-heading-block-start-xl-screen);
      }
    }

    > h2:first-of-type {
      margin-block-start: 0;
    }

    @media (min-width: 80rem) {
      grid-area: content;
    }
  }
}

.listing-details {
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "button button"
    "location location"
    "detail-grid detail-grid";

  @media (min-width: 36rem) {
    grid-template-columns: 1fr 2fr auto;
    grid-template-areas: "location detail-grid button";
  }

  @media (min-width: 80rem) {
    align-self: start;
    position: sticky;
    top: calc(5rem + var(--page-nav-height));
    display: flex;
    flex-direction: column;
  }

  .button {
    grid-area: button;

    @media (min-width: 36rem) {
      align-self: start;
      width: auto;
    }

    @media (min-width: 80rem) {
      margin-block-end: 3rem;
    }
  }
}

.listing-details-grid {
  grid-area: detail-grid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-self: start;

  @media (min-width: 80rem) {
    display: flex;
    flex-direction: column;
  }
}

.listing-detail--location {
  --listing-detail-location-column-gap: 1rem;

  grid-area: location;
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--listing-detail-location-column-gap);

  @media (min-width: 36rem) {
    flex-wrap: unset;
    flex-direction: column;
  }

  .listing-detail__name--location {
    flex: 1 0 100%;

    @media (min-width: 36rem) {
      flex: unset;
    }
  }

  .listing-detail__content--location {
    flex: 1 1 calc(50% - var(--listing-detail-location-column-gap));

    @media (min-width: 36rem) {
      flex: unset;
    }
  }
}

.listing-detail__name,
.listing-detail__content {
  display: block;
}

.listing-detail {
  .listing-detail__name {
    @media (min-width: 36rem) {
      font-size: var(--spectrum-font-size-400);
    }

    @media (min-width: 80rem) {
      font-weight: var(--spectrum-extra-bold-font-weight);
      font-size: var(--spectrum-font-size-600);
    }
  }

  .listing-detail__content {
    @media (min-width: 36rem) {
      font-size: var(--spectrum-font-size-200);
    }

    @media (min-width: 80rem) {
      font-weight: var(--spectrum-medium-font-weight);
      font-size: var(--spectrum-font-size-300);
    }
  }
}

.listing-detail__name--location {
  flex: 1 0 100%;

  @media (min-width: 36rem) {
    flex: unset;
  }
}

.listing-detail__content--location {
  flex: 1 1 50%;

  @media (min-width: 36rem) {
    flex: unset;
  }
}

.listing-prefooter {
  margin-block-end: 4rem;

  @media (min-width: 80rem) {
    margin-block-end: 5rem;
  }

  @media (min-width: 105rem) {
    margin-block-end: 6.5rem;
  }
}

.image-with-caption {
  --image-with-caption-gap: 1rem;

  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--image-with-caption-gap);
  margin: 0;
  margin-block-end: 1.5rem;

  .image-with-caption--full-bleed {
    margin-block-end: 2.5rem;
  }

  @media (min-width: 48rem) {
    margin-block-end: 2.5rem;
  }

  @media (min-width: 80rem) {
    margin-block-end: 4rem;
  }

  div:has(p):not([class]) + & {
    margin-block-start: 2rem;

    @media (min-width: 48rem) {
      margin-block-start: 2.5rem;
    }

    @media (min-width: 80rem) {
      margin-block-start: 4rem;
    }
  }

  & .image-with-caption__image {
    & img {
      display: block;
      width: 100%;
      height: auto;
      border-radius: var(--spectrum-corner-radius-800);
    }
  }

  & .image-with-caption__caption {
    display: block;
    color: var(--spectrum-gray-600);

    & a {
      color: currentColor;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.image-with-caption--two-up {
  @media (min-width: 48rem) {
    flex-direction: row;
    flex-wrap: wrap;

    & .image-with-caption__image {
      flex: 0 1 calc(50% - (var(--image-with-caption-gap) / 2));
    }

    & .image-with-caption__caption {
      flex: 1 0 100%;
    }
  }
}

.image-with-caption--full-bleed {
  width: 100vw;
  transform: translateX(calc(var(--page-gutters) * -1));

  & .image-with-caption__image {
    & img {
      border-radius: 0;
    }
  }

  & .image-with-caption__caption {
    margin-inline: var(--page-gutters);
  }
}

@media (min-width: 80rem) {
  .image-with-caption--full-width,
  .image-with-caption--full-bleed {
    overflow: visible;
    width: unset;
    transform: none;

    & .image-with-caption__image img {
      width: calc(100vw - 4rem);
      max-width: 120rem;
      margin-inline-start: 50%;
      transform: translateX(-50%);
      border-radius: var(--spectrum-corner-radius-800);
    }
  }
}

.search {
  --search-input-wrapper-width: 16.5rem;
  --search-input-margin-block-end: 1rem;

  .search__box {
    display: flex;
    position: relative;
    justify-content: flex-end;
  }

  .search__input-wrapper {
    transition: all 130ms ease;
    display: flex;
    flex-direction: row;
    width: 0;
    opacity: 0;
  }

  .search__box--expanded .search__input-wrapper {
    width: 100%;
    opacity: 1;

    &::before {
      content: "";
      width: 1.25rem;
      height: 100%;
      background: var(--icon-magnify) center no-repeat;
      background-size: contain;
      position: absolute;
      inset-inline-end: var(--search-input-wrapper-width);
    }

    @media (min-width: 48rem) {
      width: var(--search-input-wrapper-width);
    }
  }

  .search__input {
    display: none;
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem;
    padding-inline-start: 2.375rem;
    margin: 0;
    margin-inline-end: var(--search-input-margin-block-end);
    border: 2px solid var(--spectrum-gray-300);
    border-radius: var(--spectrum-corner-radius-1000);
    background-color: var(--spectrum-gray-50);
    color: var(--color-text-dark);
    font-size: var(--spectrum-body-size-s);
    height: 2rem;

    &::placeholder {
      color: var(--color-text-dark);
    }

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;

      cursor: pointer;
      height: 1.5rem;
      width: 1.5rem;
      background: var(--icon-cancel-sm) center no-repeat;
    }

    &:active,
    &:focus,
    &:focus-visible {
      border-color: var(--spectrum-gray-800);
      border-radius: var(--spectrum-corner-radius-1000);
    }
  }

  .search__box--expanded .search__input {
    display: block;
  }

  .search__search-icon {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--spectrum-gray-800);
  }

  .search__button {
    display: flex;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0.25rem;
    box-sizing: border-box;
    width: 1.75rem;
    height: 1.75rem;
    margin: 0;
    border-radius: 0.25rem;
    transition: background-color 130ms ease;
    align-self: center;
  }

  .search__button:hover,
  .search__box--expanded .search__button {
    background-color: var(--spectrum-gray-200);
  }

  .search__results-container {
    display: none;
    box-sizing: border-box;
    position: fixed;
    top: 3.5rem;
    margin-inline-end: 2.75rem;
    width: calc(
      var(--search-input-wrapper-width) - var(--search-input-margin-block-end)
    );
    background: var(--spectrum-gray-25);
    border-radius: 0.625rem;
    box-shadow: var(--drop-shadow-emphasized);
  }

  .search__box--expanded .search__results-container:has(li) {
    display: block;
  }

  .search__results {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .search__results--no-results {
    padding: 1rem;
  }

  .search__results-item {
    padding: 0 1rem;
    position: relative;

    &:first-child {
      border-radius: 0.5rem 0.5rem 0 0;
    }

    &:last-child {
      border-radius: 0 0 0.5rem 0.5rem;

      & > a {
        border-bottom: none;
      }
    }

    &:hover {
      background-color: var(--spectrum-gray-50);
    }

    & > a {
      border-bottom: 2px solid var(--spectrum-gray-200);
      padding: 1rem 0;
      color: var(--color-text-dark);
      text-decoration: none;
      display: block;
    }
  }

  .search__results-title {
    color: var(--color-text-dark);
    margin-bottom: 0.25rem;
  }

  .search__results-description {
    color: var(--spectrum-gray-700);
  }
}

.card-container {
  container-type: inline-size;
  container-name: card-container;
}

.card {
  display: flex;
  flex-direction: column;
  box-shadow: var(--drop-shadow-emphasized);
  border-radius: 1rem;
  background-color: var(--color-background-highlighted-element);
  overflow: hidden;

  @container card-container (min-width: 28rem) {
    flex-direction: row;
  }
}

a.card:hover {
  color: var(--color-text);
  cursor: pointer;
  text-decoration: none;

  .card__title {
    text-decoration: underline;
  }
}

.card__image {
  @container card-container (min-width: 28rem) {
    order: 2;
    flex: 1 0 50%;
  }

  img {
    aspect-ratio: unset;
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.25rem 1rem;
  color: var(--color-text);

  @container card-container (min-width: 24rem) {
    min-height: 9rem;
  }

  @container card-container (min-width: 28rem) {
    order: 1;
    flex: 0 1 50%;
    min-height: unset;
    padding: 3rem 1.5rem;
  }

  span {
    display: block;
  }
}

.card__title {
  margin-block-end: 0.25rem;

  @container card-container (min-width: 24rem) {
    font-size: var(--spectrum-font-size-300);
  }

  @container card-container (min-width: 36rem) {
    font-weight: var(--spectrum-extra-bold-font-weight);
    font-size: var(--spectrum-font-size-600);
    margin-block-end: 1.25rem;
  }

  @container card-container (min-width: 42rem) {
    font-size: var(--spectrum-font-size-700);
  }

  @container card-container (min-width: 48rem) {
    font-size: var(--spectrum-font-size-900);
  }
}

.card__description {
  @container card-container (min-width: 24rem) {
    font-size: var(--spectrum-font-size-200);
  }

  @container card-container (min-width: 36rem) {
    font-size: var(--spectrum-font-size-300);
  }

  @container card-container (min-width: 42rem) {
    font-size: var(--spectrum-font-size-500);
  }

  @container card-container (min-width: 48rem) {
    font-size: var(--spectrum-font-size-600);
  }
}

.job-listing {
  --color-border: var(--spectrum-gray-400);
  --icon-size: 1.25rem;

  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  position: relative;
  text-decoration: none;
  color: var(--color-text-dark);

  &:any-link {
    color: var(--color-text-dark);
  }
}

.job-listing::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  min-width: var(--icon-size);
  height: var(--icon-size);
  background: var(--icon-internal-link) center no-repeat;
}

.job-listing__content {
  display: flex;
  flex-direction: column;
  margin-inline-end: 2rem;
  flex-grow: 1;
}

.job-listing__title {
  font-family: var(--spectrum-sans-serif-font);
  display: block;
  font-size: var(--spectrum-title-size-m);
  font-weight: var(--spectrum-title-weight-m);
  margin: 0;

  @media (min-width: 48rem) {
    font-size: var(--spectrum-title-size-xl);
    font-weight: var(--spectrum-title-weight-xl);
  }

  @media (min-width: 80rem) {
    font-size: var(--spectrum-title-size-l);
    font-weight: var(--spectrum-title-weight-l);
  }

  @media (min-width: 105rem) {
    font-size: var(--spectrum-title-size-xl);
  }
}

.job-listing__subheading {
  display: block;
  font-size: var(--spectrum-detail-size-s);
  margin: 0.25rem 0 0;

  @media (min-width: 80rem) {
    font-size: var(--spectrum-detail-size-m);
  }
}

.job-listing__detail {
  display: block;
  font-size: var(--spectrum-body-size-xs);
  margin-block-start: 0.25rem;

  @media (min-width: 80rem) {
    font-size: var(--spectrum-body-size-m);
  }

  @media (min-width: 105rem) {
    font-size: var(--spectrum-body-size-xs);
  }
}

@media (min-width: 48rem) {
  .job-listing::after {
    display: none;
  }
}

@media (min-width: 80rem) {
  .job-listing {
    border-top: none;
  }

  .job-listing:last-child {
    border-bottom: none;
  }

  .job-listing__content {
    margin-inline-end: 0;
  }
}

.article-prefooter {
  > .section-header {
    margin-block-end: var(--spacing-heading-block-start-small-screen);

    @media (min-width: 48rem) {
      margin-block-end: var(--spacing-heading-block-start-medium-screen);
    }

    @media (min-width: 80rem) {
      margin-block-end: var(--spacing-heading-block-start-large-screen);
    }

    @media (min-width: 105rem) {
      margin-block-end: var(--spacing-heading-block-start-xl-screen);
    }
  }

  > *:not(.section-header):not(div > .horizontal-rule) {
    margin-block-end: var(--spacing-global-block-end-small-screen);

    @media (min-width: 48rem) {
      margin-block-end: var(--spacing-global-block-end-medium-screen);
    }

    @media (min-width: 80rem) {
      margin-block-end: var(--spacing-global-block-end-large-screen);
    }
  }

  > .grid-container .grid-item:has(.section-header),
  > .grid-container .grid-item:has(.image-with-caption) {
    align-self: center;
  }
}
