.card-container {
  container-type: inline-size;
  container-name: card-container;
}

.card {
  --card-color-background: var(--spectrum-white);

  display: flex;
  flex-direction: column;
  box-shadow: var(--drop-shadow-emphasized);
  border-radius: 1rem;
  background-color: var(--card-color-background);
  overflow: hidden;

  @container card-container (min-width: 28rem) {
    flex-direction: row;
  }

  &:hover {
    color: var(--color-text);
    cursor: pointer;
    text-decoration: none;
  }

  &:hover .card__title {
    text-decoration: underline;
  }
}

:root:has(#color-scheme:checked) .card {
  --card-color-background: var(--spectrum-gray-50);
}

.card__image {
  @container card-container (min-width: 28rem) {
    order: 2;
    flex: 1 0 50%;
  }

  img {
    aspect-ratio: unset;
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.25rem 1rem;
  color: var(--color-text);
  
  @container card-container (min-width: 24rem) {
    min-height: 9rem;
  }

  @container card-container (min-width: 28rem) {
    order: 1;
    flex: 0 1 50%;
    min-height: unset;
    padding: 3rem 1.5rem;
  }

  span {
    display: block;
  }
}

.card__title {
  margin-block-end: 0.25rem;

  @container card-container (min-width: 24rem) {
    font-size: var(--spectrum-font-size-300);
  }

  @container card-container (min-width: 36rem) {
    font-weight: var(--spectrum-extra-bold-font-weight);
    font-size: var(--spectrum-font-size-600);
    margin-block-end: 1.25rem;
  }

  @container card-container (min-width: 42rem) {
    font-size: var(--spectrum-font-size-700);
  }
  
  @container card-container (min-width: 48rem) {
    font-size: var(--spectrum-font-size-900);
  }
}

.card__description {
  @container card-container (min-width: 24rem) {
    font-size: var(--spectrum-font-size-200);
  }

  @container card-container (min-width: 36rem) {
    font-size: var(--spectrum-font-size-300);
  }

  @container card-container (min-width: 42rem) {
    font-size: var(--spectrum-font-size-500);
  }
  
  @container card-container (min-width: 48rem) {
    font-size: var(--spectrum-font-size-600);
  }
}
