.card-container {
  container-type: inline-size;
  container-name: card-container;
}

.card {
  box-sizing: border-box;
  border: 1px solid #dadada;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  box-shadow: var(--drop-shadow-emphasized);
  height: auto;
}

.card__body {
  padding: 1.5rem 1rem;
  box-sizing: border-box;
}

.card__title {
  color: var(--color-text-dark);
  font-size: var(--spectrum-title-size-m);
  margin: 0;
}

.card__description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  color: var(--color-text);
  margin: 0.25rem 0 0;
  -webkit-line-clamp: 2;
}

.card__image {
  border-radius: 1rem 1rem 0 0;
}

@container card-container (min-width: 44rem) {
  .card {
    flex-direction: row-reverse;
    max-width: 49rem;
  }

  .card__body {
    flex: 1;
    flex-basis: 50%;
    box-sizing: border-box;
    padding: 3rem 1.5rem;
  }

  .card__title {
    color: var(--color-text-dark);
    margin: 0;
    font-size: var(--spectrum-title-size-xxxl);

    @media (min-width: 80rem) {
      font-size: var(--spectrum-title-size-xl);
    }

    @media (min-width: 105rem) {
      font-size: var(--spectrum-heading-size-s);
    }
  }

  .card__description {
    -webkit-line-clamp: 4;
    font-size: var(--spectrum-body-size-m);
    margin: 1.25rem 0 0;

    @media (min-width: 80rem) {
      font-size: var(--spectrum-body-size-xl);
    }
  }

  .card__image {
    flex: 1;
    flex-basis: 50%;
    overflow: hidden;
    display: flex;
    border-radius: 0 0.5rem 0.5rem 0;
  }
}
