.link-list {
  --color-text: var(--spectrum-gray-900);
  --color-border: var(--spectrum-gray-400);

  margin-block-end: 1.5rem;
  padding: 0;
  list-style: none;

  & a:any-link {
    color: var(--color-text);
  }

  > li {
    border-top: 1px solid var(--color-border);
  }

  > li:last-of-type {
    border-bottom: 1px solid var(--color-border);
  }
}

.grid-item .link-list {
  margin-block: 0;

  @media (min-width: 48rem) {
    height: 100%;
    display: flex;
    flex-direction: column;

    > li {
      flex-grow: 1;
    }
  }
}

.link-list--jobs {
  @media (min-width: 48rem) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-block-end: 2.5rem;

    .link-list-item::after {
      background: none;
    }

    > li {
      border-top: none;
    }

    > li:last-of-type {
      border-bottom: none;
    }
  }

  @media (min-width: 34.5rem) {
    & .link-list-item::after {
      display: none;
    }
  }

  @media (min-width: 80rem) {
    grid-template-columns: 1fr 1fr 1fr;
    margin-block-end: 3rem;
  }
}

.link-list-item {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  text-decoration: none;

  &::after {
    --icon-size: 0.875rem;

    content: '';
    display: block;
    min-width: var(--icon-size);
    height: var(--icon-size);
    background: var(--icon-internal-link) center no-repeat;
  }

  & span {
    display: block;
  }
}

.link-list-item--external::after {
  --icon-size: 1.25rem;

  background: var(--icon-external-link) center no-repeat;
}

.link-list-item__content {
  margin-inline-end: 1rem;
  flex-grow: 1;
}

.link-list-item__job-title {
  font-size: var(--spectrum-title-size-m);
  font-weight: var(--spectrum-title-weight-m);
  line-height: var(--title-line-height);
}

.link-list-item__job-department {
  font-size: var(--spectrum-detail-size-s);
  font-weight: var(--detail-font-weight);
  line-height: var(--detail-line-height);
}

.link-list-item__job-location {
  font-size: var(--spectrum-body-size-xs);
}

.link-list-footer-link {
  --footer-link-color-text: var(--color-text-link);
  --footer-link-color-text-hover: var(--color-text-link-hover);

  margin-block-end: 3rem;
  padding: unset;
  min-width: 2.5rem;
  min-height: 2.5rem;;
  color: var(--footer-link-color-text);
  font-size: var(--spectrum-font-size-200);
  font-weight: var(--spectrum-medium-font-weight);
  width: auto;

  &:hover,
  &:focus-visible {
    color: var(--footer-link-color-text-hover);
    text-decoration: underline;
  }

  @media (min-width: 48rem) {
    --footer-link-color-border: var(--spectrum-transparent-black-800);
    --footer-link-color-border-hover: var(--spectrum-transparent-black-900);
    --footer-link-color-border-disabled: var(--spectrum-transparent-black-300);
    --footer-link-background-hover: var(--spectrum-transparent-black-100);
    --footer-link-color-text: var(--spectrum-gray-800);
    --footer-link-color-text-hover: var(--spectrum-gray-900);
    --footer-link-color-text-disabled: var(--spectrum-gray-400);

    margin-block-end: 4rem;
    border: 2px solid var(--footer-link-color-border);
    padding: 0.75rem 1.25rem 0.875rem;
    min-width: unset;
    min-height: unset;
    color: var(--footer-link-color-text);
    font-size: var(--spectrum-font-size-300);
    font-weight: var(--spectrum-bold-font-weight);

    &:hover,
    &:focus-visible {
      border-color: var(--footer-link-color-border-hover);
      background-color: var(--footer-link-background-hover);
      color: var(--footer-link-color-text-hover);
      text-decoration: none;
    }

    &:disabled,
    &:disabled:hover {
      border-color: var(--footer-link-color-border-disabled);
      color: var(--footer-link-color-text-disabled);
    }
  }

  @media (min-width: 80rem) {
    margin-block-end: 5rem;
  }

  @media (min-width: 105rem) {
    margin-block-end: 6rem;
  }
}

:root:has(#color-scheme:checked) .link-list-footer-link {
  @media (min-width: 48rem) {
    --footer-link-color-border: var(--spectrum-transparent-white-800);
    --footer-link-color-border-hover: var(--spectrum-transparent-white-900);
    --footer-link-color-border-disabled: var(--spectrum-transparent-white-300);
    --footer-link-background-hover: var(--spectrum-transparent-white-100);
  }
}
