.link-list {
  --color-text: var(--spectrum-gray-900);
  --color-border: var(--spectrum-gray-400);
  --icon-size: 1.25rem;

  margin-block-end: 1.5rem;
  padding: 0;
  list-style: none;

  & a:any-link {
    color: var(--color-text);
  }

  > li {
    border-top: 1px solid var(--color-border);
  }

  > li:last-of-type {
    border-bottom: 1px solid var(--color-border);
  }
}

.link-list--jobs {
  @media (min-width: 48rem) {
    .link-list-item::after {
      background: none;
    }
  }

  @media (min-width: 48rem) {
    margin-block-end: 2.5rem;
  }
  
  @media (min-width: 80rem) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin-block-end: 3rem;

    > li {
      border-top: none;
    }

    > li:last-of-type {
      border-bottom: none;
    }
  }
}

.link-list__title {
  margin-block-start: 0;
  margin-block-end: 2rem;
  color: var(--color-text);
}

.link-list-item {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  text-decoration: none;

  &::after {
    content: '';
    display: block;
    min-width: var(--icon-size);
    height: var(--icon-size);
    background: var(--icon-internal-link) center no-repeat;
  }

  & span {
    display: block;
  }
}

.link-list-item--external::after {
  background: var(--icon-external-link) center no-repeat;
}

.link-list-item__content {
  margin-inline-end: 1rem;
  flex-grow: 1;
}

.link-list-item__job-title {
  font-size: var(--spectrum-title-size-m);
  font-weight: var(--spectrum-title-weight-m);
  line-height: var(--title-line-height);
}

.link-list-item__job-department {
  font-size: var(--spectrum-detail-size-s);
  font-weight: var(--detail-font-weight);
  line-height: var(--detail-line-height);
}

.link-list-item__job-location {
  font-size: var(--spectrum-body-size-xs);
}

.link-list-footer-link {
  --footer-link-color-text: var(--color-text-link);
  --footer-link-color-text-hover: var(--color-text-link-hover);

  padding: unset;
  min-width: 2.5rem;
  min-height: 2.5rem;;
  color: var(--footer-link-color-text);
  font-size: var(--spectrum-font-size-200);
  font-weight: var(--spectrum-medium-font-weight);
  width: auto;

  &:hover {
    color: var(--footer-link-color-text-hover);
    text-decoration: underline;
  }

  @media (min-width: 80rem) {
    --footer-link-color-border: rgb(
      from var(--spectrum-black) r g b / 84%
    );
    --footer-link-color-border-hover: rgb(
      from var(--spectrum-black) r g b / 93%
    );
    --footer-link-color-border-disabled: rgb(
      from var(--spectrum-black) r g b / 15%
    );
    --footer-link-background-hover: rgb(
      from var(--spectrum-black) r g b / 9%
    );
    --footer-link-color-text: rgb(
      from var(--spectrum-black) r g b / 84%
    );
    --footer-link-color-text-hover: rgb(
      from var(--spectrum-black) r g b / 93%
    );
    --footer-link-color-text-disabled: rgb(
      from var(--spectrum-black) r g b / 22%
    );

    border: 2px solid var(--footer-link-color-border);
    padding: 0.75rem 1.25rem 0.875rem;
    min-width: unset;
    min-height: unset;
    color: var(--footer-link-color-text);
    font-size: var(--spectrum-font-size-300);
    font-weight: var(--spectrum-bold-font-weight);

    &:hover {
      border-color: var(--footer-link-color-border-hover);
      background-color: var(--footer-link-background-hover);
      color: var(--footer-link-color-text-hover);
      text-decoration: none;
    }

    &:disabled,
    &:disabled:hover {
      border-color: var(--footer-link-color-border-disabled);
      color: var(--footer-link-color-text-disabled);
    }
  }
}

:root:has(#color-scheme:checked) .link-list-footer-link {
  @media (min-width: 80rem) {
    --footer-link-color-border: rgb(
      from var(--spectrum-white) r g b / 85%
    );
    --footer-link-color-border-hover: rgb(
      from var(--spectrum-white) r g b / 94%
    );
    --footer-link-color-border-disabled: rgb(
      from var(--spectrum-white) r g b / 17%
    );
    --footer-link-background-hover: rgb(
      from var(--spectrum-white) r g b / 11%
    );
    --footer-link-color-text: rgb(
      from var(--spectrum-white) r g b / 85%
    );
    --footer-link-color-text-hover: rgb(
      from var(--spectrum-white) r g b / 94%
    );
    --footer-link-color-text-disabled: rgb(
      from var(--spectrum-white) r g b / 21%
    );
  }
}
