name: Run Jest Puppeteer Tests

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install dependencies
        run: npm install

      - name: Set BASE_URL environment variable
        run: |
          BRANCH_NAME="${GITHUB_HEAD_REF:-${GITHUB_REF##*/}}"
          echo "Branch Name: ${BRANCH_NAME}"
          BASE_URL="https://${BRANCH_NAME}--adobe-design-website--adobe.hlx.page/"
          echo "BASE_URL=${BASE_URL}"
          echo "BASE_URL=${BASE_URL}" >> $GITHUB_ENV

      - name: Run Jest Puppeteer tests
        run: npm test
        env:
          BASE_URL: ${{ env.BASE_URL }}
